@import '~antd/dist/antd.css';

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
  height: 100%;
} 

.card-add{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  height: 100%;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
  
}

.header-icon {
  display: flex;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ant-layout-sider-children {
  background: #f0f2f5;
  height: 96vh;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  transition: all 0.2s;
  height: 96vh;
}

.ant-layout {

  display: flex;
  flex: auto;
  flex-direction: column;
  border-top-left-radius: 20px;
  min-height: 0;
  border-bottom-right-radius: 20px;
  background: white;
}

.ant-menu-root.ant-menu-vertical {
  background: #f0f2f5;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
  color: #27b778;
  font-weight: 600;
}

.ant-menu-light .ant-menu-item:hover {
  color: #27b778;
}

.create-patient {
  color: #27b778;
  font-size: 41px;
}

.patient-card .ant-row {
  margin-left: -10px;
  margin-right: -10px;
}

.patient-card .ant-row .ant-col {
  margin: 0 10px 10px 10px;
  max-width: calc(25% - 20px);
}

.patient-card .card {
  width: 100%;
  margin: 0;
}

.header-icon {
  display: flex;
  justify-content: space-between;
}

.patient-card h2 {
  margin-top: 20px;
}

.main-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.create-patient {
  text-align: center;
}

.create-patient-text {
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
}

@media (max-width:992px) {
  .patient-card .ant-row .ant-col {
    max-width: calc(50% - 20px);
    flex: 0 0 50%;
  }
}

@media (max-width:768px) {
  .patient-card .ant-row .ant-col {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width:460px) {
  .ant-layout-sider {
    position: absolute;
   z-index: 1000;
  }
}

.site-layout-content{
  /* margin-left: 100px; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main-container{
  height: 96vh;
  width: 98vw;
  border-radius: 20px;
  margin-top:2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow-x: auto;
}

.name-container{
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  color: rgb(87, 85, 85);
}

.last-name-container{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(87, 85, 85);
}

.ant-progress-bg {
  height: 4px !important;
}